*{
    margin:0px;
}
body{
    background-color:black;
}
img{
    width:40%;
  display:block;
  margin: 2% auto;

}
h1{
    font-family:Roboto;
    text-align:center;
    color:white;
    margin:2%;
    font-size:400%;
  

}
#fech{
    margin:2% 25%;
    width:50%
}
p{
    text-align:center;
    font-size:150%;
    font-family:Fira Sans;
    color:white;
}